body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #316575;
  padding: 15px 40px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(255, 250, 250);
}

.nav-links a:hover {
  text-decoration: underline;
}

.page {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

.block {
  margin: 40px 0;
}

img {
  width: 250px;
  margin-top: 15px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #5c4b7d;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.8;
}

.back {
  background: #333;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 15px 40px;
}

footer div {
  flex: 1;
  text-align: center;
}

footer div:first-child {
  text-align: left;
}

footer div:last-child {
  text-align: right;
}

footer img{
width: 70px;
}

.logo img {

  width: 80px; ;
}